.main-heading{
    text-align:center;
    color:orange;
    padding: 10px;
    background-color: aqua;
   
}
label{
    color:orange;
}
body{
    background-color: black;
}
.secod-form-container{
    text-align: right;
    margin: 50px;
}
.first-form-container{
    margin: 50px;
}
#dataelement{
    
    
    margin: 50px;
}
h1{
    color: rgb(46, 28, 186);
    text-align: center;
}

.review-container{
    color: white;
    border: solid orange;
}

.inpu-item{
    
}