.main-heading{
    text-align:center;
    color:rgb(255, 255, 255);
    padding: 10px;
   
}
label{
    font-family: roboto;
    color:rgb(10, 65, 128);
    font-weight:900;
}
body{
    /* background-color: rgb(41, 40, 40); */
    background: linear-gradient(to right, #2193b0, #6dd5ed);

    height: 100vh;
    margin: 0;
}
.secod-form-container{
    text-align: right;
    margin: 50px;
}
.first-form-container{
    margin: 50px;
}
#dataelement{
    
    
    margin: 50px;
}
/* h1{
    color: rgb(46, 28, 186);
    text-align: center;
} */

.review-container{
    color: white;
    border-bottom: solid orange;
    margin-left: 40%;
}

.inpu-item{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin:10px;
    border: none;
}
.button-item{
    height: 35px;
    border-radius: 40px;
    width: 75px;
    border: none;
    font-family: roboto;
    background-color: rgb(62, 62, 195);
    color:white;
}
.first-button-item{
    margin:10px;
    border-radius: 100px;
    border: none;
    background-color: rgb(62, 62, 195);

}

.inpu-itemt{
    border-radius: 10px;
    margin: 10px;
}

.data-headinh{
    color:rgb(10, 65, 128);
    margin-left: 40%;
    font-family: roboto;

}